
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navegacao {
  overflow: hidden;
  background-color: #333;
  padding-top: 10px;
  padding-bottom: 16px;
  text-align: center;
}

.navegacao a {
  
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navegacao a:hover {
  background-color: #ddd;
  color: black;
}

.navegacao a.active {
  background-color: #4CAF50;
  color: white;
}

.noticias {
    padding-left: 5%;
}

.fotografia {
    font-size: 10px;
    color: grey;

}

.importantes {
  width: 50%;
  margin-top: 5%;
  margin-left: 20%;

}

.front_news {
  background: #b50f0d;
  padding-right: 300px;
  
  
  
}

.front_news a {
  text-decoration: none;
}
